 <!--about-us start -->
 <section id="about" class="about-us">
    <div class="container">
      <div class="about-us-content">
        <div class="row">
          <div class="col-sm-6">
            <div class="single-about-us">
              <div class="about-us-txt">
                <h2>about us</h2>
                <p>
                  Synchplus is operating in South Africa since 2008 and has been delivering in wide variety of domains and applications both locally and internationally.
                   SynchPlus comprises of distributed teams setup where individual groups of experts specializing in their respective core strenghts work seamlessly from remote locations such as Johannesburg,
                    Bangalore and Hyderabad. This is done so as to minimize our costs and comeplement each other to overall benifit of the cost effective and quality solution for our clients and customers
                </p>
                <p>
                  In SynchPlusConsulting, our aims is, Quality Economically.
                   With Mobile First strategy we strive to solve any complex challenges of achieving mobility and automation for client needs.
                </p>
                <p>
                  Need mode details about Synchplus, please chat to our online agent (artifcial)
                </p>
                <div class="project-btn">
                  <a href="#"  class="project-view">learn more
                  </a>
                </div><!--/.project-btn-->
              </div><!--/.about-us-txt-->
            </div><!--/.single-about-us-->
          </div><!--/.col-->
          <div class="col-sm-6">
            <div class="single-about-us">
              <div class="about-us-img">
                <img src="assets/images/about/about-part.jpg" alt="about images">
              </div><!--/.about-us-img-->
            </div><!--/.single-about-us-->
          </div><!--/.col-->
        </div><!--/.row-->
      </div><!--/.about-us-content-->
    </div><!--/.container-->

  </section><!--/.about-us-->
  <!--about-us end -->
