 <!--service start-->
 <section id="service"  class="service">
    <div class="container">
      <div class="service-details">
        <div class="section-header text-center">
          <h2>our services</h2>
         
        </div><!--/.section-header-->
        <div class="service-content-one">
          <div class="row">
            <div class="col-sm-4 col-xs-12">
              <div class="service-single text-center">
                <div class="service-img">
                  <img src="assets/images/service/service1.png" alt="image of service" />
                </div><!--/.service-img-->
                <div class="service-txt">
                  <h2>
                    <a href="#">OFFSHORE AND ONSITE OUTSORCING</a>
                  </h2>
                  <p>
                    No one can do everything independently. All Businesses generate some software related requirments from time-to-time. 
                    Outsourcing is one such business process that is identified for solving such indepenedent requirements. 
                    Oftenly in such businesses they are either emanated due to lack of available domain expertize, or due to some temporary needs or some cost/size based analysis etc. Success of any outsourcing task is largely inluenced by cultural understanding and professional support of both client and vendor. Our local presence & global support gives us much needed differentiation for this.We provide both cost effective offshore outsourcing and onsite niche skills to integrate effectively with our clients' functions and processes
                  </p>
                  <a href="#" class="service-btn">
                    learn more
                  </a>
                </div><!--/.service-txt-->
              </div><!--/.service-single-->
            </div><!--/.col-->
            <div class="col-sm-4 col-xs-12">
              <div class="service-single text-center">
                <div class="service-img">
                  <img src="assets/images/service/service2.png" alt="image of service" />
                </div><!--/.service-img-->
                <div class="service-txt">
                  <h2>
                    <a href="#">RESOURCING</a>
                  </h2>
                  <p>
                    We have big pool of wide variety of skills and experts. 
                    Our international exposure and global presence enable us to cost effectively provide clients with onsite resources and remote software development resources.
                  </p>
                  <a href="#" class="service-btn">
                    learn more
                  </a>
                </div><!--/.service-txt-->
              </div><!--/.service-single-->
            </div><!--/.col-->
            <div class="col-sm-4 col-xs-12">
              <div class="service-single text-center">
                <div class="service-img">
                  <img src="assets/images/service/service3.png" alt="image of service" />
                </div><!--/.service-img-->
                <div class="service-txt">
                  <h2>
                    <a href="#">CAD Based Automation</a>
                  </h2>
                  <p>
                    Customized domain development is our key strength. We expert in niche domains such as CAD in iOS native technologies. We provide state-of-the-art solution in CAD based mobile and web applications.
                     We have worked in this spcialized domain for last 15 years, which makes it our niche expertize
                  </p>
                  <a href="#" class="service-btn">
                    learn more
                  </a>
                </div><!--/.service-txt-->
              </div><!--/.service-single-->
            </div><!--/.col-->
          </div><!--/.row-->
        </div><!--/.service-content-one-->
        <div class="service-content-two">
          <div class="row">
            <div class="col-sm-4 col-xs-12">
              <div class="service-single text-center">
                <div class="service-img">
                  <img src="assets/images/service/service4.png" alt="image of service" />
                </div><!--/.service-img-->
                <div class="service-txt">
                  <h2>
                    <a href="#">
                      Mobile Apps</a>
                  </h2>
                  <p>
                    We do application development for the complex designs provided by our customers to realize solutions for their needs.
                     We develop for both iOS and Android platforms 
                  </p>
                  <a href="#" class="service-btn">
                    learn more
                  </a>
                </div><!--/.service-txt-->
              </div><!--/.service-single-->
            </div><!--/.col-->
            <div class="col-sm-4 col-xs-12">
              <div class="service-single text-center">
                <div class="service-img">
                  <img src="assets/images/service/service5.png" alt="image of service" />
                </div><!--/.service-img-->
                <div class="service-txt">
                  <h2>
                    <a href="#">Web & Enterprise Development</a>
                  </h2>
                  <p>
                    By having offshore development alliance with Microsoft ceritified Dev Partner we are well suited for any bulky web development from our 100+ seats offshore development facilities that targets Microsoft based Web development involving .Net, C# and Sharepoint.
                     You can be assured of seamless implementation of quality tasks while outsourcing with us
                  </p>
                  <a href="#" class="service-btn">
                    learn more
                  </a>
                </div><!--/.service-txt-->
              </div><!--/.service-single-->
            </div><!--/.col-->
            <div class="col-sm-4 col-xs-12">
              <div class="service-single text-center">
                <div class="service-img">
                  <img src="assets/images/service/service6.png" alt="image of service" />
                </div><!--/.service-img-->
                <div class="service-txt">
                  <h2>
                    <a href="#">Open Source Technology Stack</a>
                  </h2>
                  <p>
                    We have high level of experience on latest web centric technology framework such as Angular4/5 and
                     senior level capabilities on design & development on Java 1.8 alongwith very popular Spring and SpringBoot platforms.
                  </p>
                  <a href="#" class="service-btn">
                    learn more
                  </a>
                </div><!--/.service-txt-->
              </div><!--/.service-single-->
            </div><!--/.col-->
          </div><!--/.row-->
        </div><!--/.service-content-two-->
      </div><!--/.service-details-->
    </div><!--/.container-->

</section><!--/.service-->
<!--service end-->
