 <!--contact start-->
 <section id="contact"  class="contact">
    <div class="container">
      <div class="contact-details">
        <div class="section-header contact-head  text-center">
          <h2>contact us</h2>
          <p>
          
          </p>
        </div><!--/.section-header-->
        <div class="contact-content">
          <div class="row">
            <div class="col-sm-offset-1 col-sm-5">
              <div class="single-contact-box">
                <div class="contact-right">
                  <div class="contact-adress">
                    <div class="contact-office-address">
                      <h3>contact info</h3>
                      <p>
                        1812 WaterStone Park, GreentStone Hill, Johannesburg, South Africa 1609
                      </p>
                      <P>
 Hyderabad
AxnessTech

Plot 69, Darvish Estate, 2nd floor, Kamalapuri Colony, Srinagar Colony, Hyderabad India 500073
                      </P>
                      <p>
                          Enaviya Technologies

                          563-564 Niran Arcade, 3rd Floor, New BEL Road, RMV 2nd Stage, Dollars Colony, Bangalore India 560094.
                      </p>
                      <div class="contact-online-address">
                        <div class="single-online-address">
                          <i class="fa fa-phone"></i>
                          +27823329697
                        </div><!--/.single-online-address-->
                        
                        <div class="single-online-address">
                          <i class="fa fa-envelope-o"></i>
                          <span>yogesh.kumar@synchplusconsulting.com</span>
                        </div><!--/.single-online-address-->
                      </div><!--/.contact-online-address-->
                    </div><!--/.contact-office-address-->
                    <div class="contact-office-address">
                      <h3>social partner</h3>
                      <div class="contact-icon">
                        <ul>
                          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li><!--/li-->
                          <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li><!--/li-->
                          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li><!--/li-->
                          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li><!--/li-->
                        </ul><!--/ul-->
                      </div><!--/.contact-icon-->
                    </div><!--/.contact-office-address-->
                    
                  </div><!--/.contact-address-->
                </div><!--/.contact-right-->
              </div><!--/.single-contact-box-->
            </div><!--/.col-->
            <div class="col-sm-5">
              <div class="single-contact-box">
                <div class="contact-form">
                  <h3>Leave us a Massage Here</h3>
                  <form #userForm="ngForm">
          
                    <div class="row">
                       <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                          <input type="text" class="form-control" id="firstname"
                           placeholder="First Name" name="firstname" [(ngModel)]="user.firstname">
                        </div><!--/.form-group-->
                      </div><!--/.col-->
                      <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                          <input type="text" class="form-control" id="lastname" placeholder="Last Name"
                           name="lastname" [(ngModel)]="user.lastname">
                        </div><!--/.form-group-->
                      </div><!--/.col-->
                    </div><!--/.row-->
                    <div class="row">
                      <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                          <input type="email" class="form-control" id="email" placeholder="Email" 
                          name="email" [(ngModel)]="user.email" >
                        </div><!--/.form-group-->
                      </div><!--/.col-->
                      <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                          <input type="text" class="form-control" id="phone" placeholder="Phone"
                           name="phone" [(ngModel)]="user.phone">
                        </div><!--/.form-group-->
                      </div><!--/.col-->
                    </div><!--/.row-->
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <textarea class="form-control" rows="7" id="comment" placeholder="Message"
                           name="message" [(ngModel)]="user.message" ></textarea>
                        </div><!--/.form-group-->
                      </div><!--/.col-->
                    </div><!--/.row-->
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="single-contact-btn pull-right">
                          <button class="contact-btn" type="button"  href="mailto:yogesh.kumar@synchplusconsulting.com">send message</button>
                        </div><!--/.single-single-contact-btn-->
                      </div><!--/.col-->
                    </div><!--/.row-->
                  </form><!--/form-->
                </div><!--/.contact-form-->
              </div><!--/.single-contact-box-->
            </div><!--/.col-->
          </div><!--/.row-->
        </div><!--/.contact-content-->
      </div><!--/.contact-details-->
    </div><!--/.container-->

  </section><!--/.contact-->
