 <!--menu start-->
 <section id="menu">
    <div class="container">
      <div class="menubar">
        <nav class="navbar navbar-default">
        
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html" >
                <style>
                    img {
                      border-radius: 50%;
                    }
                    </style>
              <img  src="assets/images/logo/logo.jpg" alt="logo" WIDTH=60 HEIGHT=40 >
            </a>
          </div><!--/.navbar-header -->

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li class="smooth-menu">
                <a href="#home">Home</a>
              </li>
              <li class="smooth-menu"><a href="#about">About</a></li>
              <li class="smooth-menu"><a href="#service">Service</a></li>
              <li class="smooth-menu"><a href="#project">Project</a></li>
               <li class="smooth-menu"><a href="#team">Team</a></li>

              <li class="smooth-menu"><a href="#contact">Contact</a></li>
              <li>
                <a href="#">
                  <span class="lnr lnr-cart"></span>
                </a>
              </li>
              <li class="search">
                <form action="">
                  <input type="text" name="search" placeholder="Search....">
                  <a href="#">
                    <span class="lnr lnr-magnifier"></span>
                  </a>
                </form>
              </li>
            </ul><!-- / ul -->
          </div><!-- /.navbar-collapse -->
        </nav><!--/nav -->
      </div><!--/.menubar -->
    </div><!-- /.container -->

  </section><!--/#menu-->
  <!--menu end-->