	<app-header></app-header>
  
 <app-intro></app-intro>
  
  <!-- header-slider-area start -->
  <section class="header-slider-area">
    <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
    
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="single-slide-item slide-1">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <div class="single-slide-item-content">
                    <h2>SynchPlus Consulting <br>Consult Your Business With Us</h2>
                    <p>
                      passionate to create innovative solutions
                      Being pragmatic to the real life problems
                      
                      Applying advance technology and bringing efficient solutions to the issues facing industry.
                      
                      Welcome to Synchplus. You are at the right place if you are looking for an innovative team to realize your ideas.
                    </p>
                    <button type="button" class="slide-btn">
                    get started
                    </button>
                    <button type="button"  class="slide-btn">
                      explore more
                    </button>
                    
                  </div><!-- /.single-slide-item-content-->
                </div><!-- /.col-->
              </div><!-- /.row-->
            </div><!-- /.container-->
          </div><!-- /.single-slide-item-->
        </div><!-- /.item .active-->
        <div class="item">
          <div class="single-slide-item slide-2">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <div class="single-slide-item-content">
                    <h2>
                        SynchPlus Consulting <br> Business
                    </h2>
                    <p>
                        passionate to create innovative solutions
                        Being pragmatic to the real life problems
                        
                        Applying advance technology and bringing efficient solutions to the issues facing industry
                    </p>
                    <button type="button"  class="slide-btn">
                      get started
                    </button>
                    <button type="button"  class="slide-btn
                    ">
                      explore more
                    </button>
                  </div><!-- /.single-slide-item-content-->
                
                </div><!-- /.col-->
              </div><!-- /.row-->
            </div><!-- /.container-->
          </div><!-- /.single-slide-item-->
        </div><!-- /.item .active-->
      </div><!-- /.carousel-inner-->

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="lnr lnr-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="lnr lnr-chevron-right"></span>
      </a>
    </div><!-- /.carousel-->

  </section><!-- /.header-slider-area-->
  <!-- header-slider-area end -->
  
  <!--we-do start -->
  <section  class="we-do">
    <div class="container">
      <div class="we-do-details">
        <div class="section-header text-center">
          <h2>what we do</h2>
          <p>
              passionate to create innovative solutions
              Being pragmatic to the real life problems
              
              Applying advance technology and bringing efficient solutions to the issues facing industry.
          </p>
        </div><!--/.section-header-->
        <div class="we-do-carousel">
          <div class="row">
            <div class="col-sm-4 col-xs-12">
              <div class="single-we-do-box text-center">
                <div class="we-do-description">
                  <div class="we-do-info">
                    <div class="we-do-img">
                      <img src="assets/images/home/consultency.png" alt="image of consultency" />
                    </div><!--/.we-do-img-->
                    <div class="we-do-topics">
                      <h2>
                        <a href="#">
                            Internet Access and Usage System
                        </a>
                      </h2>
                    </div><!--/.we-do-topics-->
                  </div><!--/.we-do-info-->
                  <div class="we-do-comment">
                    <p>
                        A distributed system enabling management of internet kiosks, where in users can register and are allowed to access metered usage for their credits points.
                    </p>
                  </div><!--/.we-do-comment-->
                </div><!--/.we-do-description-->
              </div><!--/.single-we-do-box-->
            </div><!--/.col-->
            <div class="col-sm-4 col-xs-12">
              <div class="single-we-do-box text-center">
                <div class="we-do-description">
                  <div class="we-do-info">
                    <div class="we-do-img">
                      <img src="assets/images/home/busisness_grow.png" alt="image of business" />
                    </div><!--/.we-do-img-->
                    <div class="we-do-topics">
                      <h2>
                        <a href="#">
                            Storage & Shelving Products Showcase
                        </a>
                      </h2>
                    </div><!--/.we-do-topics-->
                  </div><!--/.we-do-info-->
                  <div class="we-do-comment">
                    <p>
                        A very large sized showcase for a shelving company displayng extensive specifications and details for over thousand parts with clear pictures
                    </p>
                  </div><!--/.we-do-comment-->
                </div><!--/.we-do-description-->
              </div><!--/.single-we-do-box-->
            </div><!--/.col-->
            <div class="col-sm-4 col-xs-12">
              <div class="single-we-do-box text-center">
                <div class="we-do-description">
                  <div class="we-do-info">
                    <div class="we-do-img">
                      <img src="assets/images/home/support-logo.png" alt="image of support" />
                    </div><!--/.we-do-img-->
                    <div class="we-do-topics">
                      <h2>
                        <a href="#">
                            A Middle layer of Social Profiles Analytics
                        </a>

                      </h2>
                    </div><!--/.we-do-topics-->
                  </div><!--/.we-do-info-->
                  <div class="we-do-comment">
                    <p>
                        It was a middle layer for A Social profile analytics & aggregation system where in integrating client's data accross Facebook, LinkedIn, Youtube etc was required to be displayed on an easy desktop Widget
                    </p>
                  </div><!--/.we-do-comment-->
                </div><!--/.we-do-description-->
              </div><!--/.single-we-do-box-->
            </div><!--/.col-->
          </div><!--/.row-->
        </div><!--/.we-do-carousel-->
      </div><!--/.we-do-details-->
    </div><!--/.container-->

  </section><!--/.we-do-->
  <!--we-do end-->

 <app-about-us></app-about-us>

 <app-service></app-service>

  <!--statistics start-->
  <section  class="statistics">
    <div class="container">
      <div class="statistics-counter "> 
        <div class="col-md-3 col-sm-6">
          <div class="single-ststistics-box">
            <div class="statistics-img">
              <img src="assets/images/counter/counter1.png" alt="counter-icon" />
            </div><!--/.statistics-img-->
            <div class="statistics-content">
              <div class="counter">2556</div>
              <h3>days worked</h3>
            </div><!--/.statistics-content-->
          </div><!--/.single-ststistics-box-->
        </div><!--/.col-->
        <div class="col-md-3 col-sm-6">
          <div class="single-ststistics-box">
            <div class="statistics-img">
              <img src="assets/images/counter/counter2.png" alt="counter-icon" />
            </div><!--/.statistics-img-->
            <div class="statistics-content">
              <div class="counter">326</div>
              <h3>project finished</h3>
            </div><!--/.statistics-content-->
          </div><!--/.single-ststistics-box-->
        </div><!--/.col-->
        <div class="col-md-3 col-sm-6">
          <div class="single-ststistics-box">
            <div class="statistics-img">
              <img src="assets/images/counter/counter3.png" alt="counter-icon" />
            </div><!--/.statistics-img-->
            <div class="statistics-content">
              <div class="counter">1526</div>
              <h3>coffee cup</h3>
            </div><!--/.statistics-content-->
          </div><!--/.single-ststistics-box-->
        </div><!--/.col-->
        <div class="col-md-3 col-sm-6">
          <div class="single-ststistics-box">
            <div class="statistics-img">
              <img src="assets/images/counter/counter4.png" alt="counter-icon" />
            </div><!--/.statistics-img-->
            <div class="statistics-content">
              <div class="counter">856</div>
              <h3>client satisfied</h3>
            </div><!--/.statistics-content-->
          </div><!--/.single-ststistics-box-->
        </div><!--/.col-->
      </div><!--/.statistics-counter-->	
    </div><!--/.container-->

  </section><!--/.statistics-->
  <!--statistics end-->

<app-project></app-project>
 <app-team></app-team>
  <!--pricing start -->
 
  <!--pricing end-->


 

  <!--clients start-->
 
  <!--clients end-->

  <!--nwes start -->

  <!--news end-->

 <app-contact></app-contact>

  <!-- new-project start -->
  <section  id="new-project" class="new-project">
      <div class="container">
        <div class="new-project-details">
          <div class="row">
            <div class="col-md-10 col-sm-8">
              <div class="single-new-project">
                <h3>
                  Want to start a new project with us? Let’s Start!
                </h3>
              </div><!-- /.single-new-project-->	
            </div><!-- /.col-->	
            <div class="col-md-2 col-sm-4">
              <div class="single-new-project">
                <a href="#" class="slide-btn">
                  start now
                </a>
              </div><!-- /.single-new-project-->	
            </div><!-- /.col-->	
          </div><!-- /.row-->	
        </div><!-- /.new-project-details-->	
      </div><!-- /.container-->	

  </section><!-- /.new-project-->	
  <!-- new-project end -->
  
  <!--hm-footer start-->
  <section class="hm-footer">
    <div class="container">
      <div class="hm-footer-details">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="hm-footer-widget">
              <div class="hm-foot-title ">
                <div class="logo">
                  <!-- <a href="index.html">
                    <img src="assets/images/logo/logo.png" alt="logo" />
                  </a> -->
                </div><!-- /.logo-->
              </div><!--/.hm-foot-title-->
              <div class="hm-foot-para">
                <p>
                  passionate to create innovative solutions
                  Being pragmatic to the real life problems
                  
                  Applying advance technology and bringing efficient solutions to the issues facing industry.
                  
                  Welcome to Synchplus. You are at the right place if you are looking for an innovative team to realize your ideas.
                </p>
              </div><!--/.hm-foot-para-->
              <div class="hm-foot-icon">
                <ul>
                  <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li><!--/li-->
                  <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li><!--/li-->
                  <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li><!--/li-->
                  <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li><!--/li-->
                </ul><!--/ul-->
              </div><!--/.hm-foot-icon-->
            </div><!--/.hm-footer-widget-->
          </div><!--/.col-->
          <div class=" col-md-2 col-sm-6 col-xs-12">
            <div class="hm-footer-widget">
              <div class="hm-foot-title">
                <h4>Useful Links</h4>
              </div><!--/.hm-foot-title-->
              <div class="footer-menu ">	  
                <ul class="">
                  <li><a href="index.html" >Home</a></li>
                  <li><a href="about.html">About</a></li>
                  <li><a href="services.html">Service</a></li>
                  <li><a href="portfolio.html">Portfolio</a></li>
                  <li><a href="contact.html">Contact us</a></li> 
                </ul>
              </div><!-- /.footer-menu-->
            </div><!--/.hm-footer-widget-->
          </div><!--/.col-->
          <div class=" col-md-3 col-sm-6 col-xs-12">
            <div class="hm-footer-widget">
              <div class="hm-foot-title">
                <h4>from the news</h4>
              </div><!--/.hm-foot-title-->
              <div class="hm-para-news">
                <a href="blog_single.html">
                  The Pros and Cons of Starting an Online Business.
                </a>
                <span>12th June 2017</span>
              </div><!--/.hm-para-news-->
              <div class="footer-line">
                <div class="border-bottom"></div>
              </div>
              <div class="hm-para-news">
                <a href="blog_single.html">
                  The Pros and Cons of Starting an Online Business.
                </a>
                <span>12th June 2017</span>
              </div><!--/.hm-para-news-->
            </div><!--/.hm-footer-widget-->
          </div><!--/.col-->
          <div class=" col-md-3 col-sm-6  col-xs-12">
            <div class="hm-footer-widget">
              <div class="hm-foot-title">
                <h4> Our Newsletter</h4>
              </div><!--/.hm-foot-title-->
              <div class="hm-foot-para">
                <p class="para-news">
                  Subscribe to our newsletter to get the latest News and offers..
                </p>
              </div><!--/.hm-foot-para-->
              <div class="hm-foot-email">
                <div class="foot-email-box">
                  <input type="text" class="form-control" placeholder="Email Address">
                </div><!--/.foot-email-box-->
                <div class="foot-email-subscribe">
                  <button type="button" >go</button>
                </div><!--/.foot-email-icon-->
              </div><!--/.hm-foot-email-->
            </div><!--/.hm-footer-widget-->
          </div><!--/.col-->
        </div><!--/.row-->
      </div><!--/.hm-footer-details-->
    </div><!--/.container-->

  </section><!--/.hm-footer-details-->
  <!--hm-footer end-->
  
  <!-- footer-copyright start -->
  <footer class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <div class="foot-copyright pull-left">
            <p>
              &copy; All Rights Reserve
               <a href="https://www.themesine.com">ThemeSINE</a>
            </p>
          </div><!--/.foot-copyright-->
        </div><!--/.col-->
        <div class="col-sm-5">
          <div class="foot-menu pull-right
          ">	  
            <ul>
              <li ><a href="#">legal</a></li>
              <li ><a href="#">sitemap</a></li>
              <li ><a href="#">privacy policy</a></li>
            </ul>
          </div><!-- /.foot-menu-->
        </div><!--/.col-->
      </div><!--/.row-->
      <div id="scroll-Top">
        <i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
      </div><!--/.scroll-Top-->
    </div><!-- /.container-->

  </footer><!-- /.footer-copyright-->
  <!-- footer-copyright end -->
