 <!--team start -->
 <section id="team" class="team">
    <div class="container">
      <div class="team-details">
        <div class="project-header team-header text-left">
          <h2>Our expert team</h2>
          <p>
            SynchPlus Team. 
          </p>
        </div><!--/.project-header-->
        <div class="team-card">
          <div class="container">
            <div class="row">
              <div class="owl-carousel  team-carousel">
                <div class="col-sm-3 col-xs-12">
                  <div class="single-team-box team-box-bg-1" >
                      <img src="assets/images/team/team.jpg" alt="team-box-bg-1" WIDTH=60 HEIGHT=40>
                    <div class="team-box-inner">
                      <h3>Yogesh Kumar</h3>
                      <p class="team-meta">Founder &  CEO</p>
                      <a href="team.html" class="learn-btn">
                        learn more
                      </a>
                    </div><!--/.team-box-inner-->

                  </div><!--/.single-team-box-->
                </div><!--.col-->
                <div class="col-sm-3 col-xs-12">
                  <div class="single-team-box team-box-bg-2">
                      <img src="assets/images/team/team3.jpg" alt="team-box-bg-2" WIDTH=60 HEIGHT=40>
                    <div class="team-box-inner">
                      <h3>Johannes Mashiane</h3>
                      <p class="team-meta">
                       Senior Angular Developer
                      </p>
                      <a href="team.html" class="learn-btn">
                        learn more
                      </a>
                    </div><!--/.team-box-inner-->
                  </div><!--/.single-team-box-->
                </div><!--.col-->
                <div class="col-sm-3 col-xs-12">
                  <div class="single-team-box team-box-bg-3">
                      <img src="assets/images/team/team2.jpg" alt="team-box-bg-3" WIDTH=60 HEIGHT=40>
                    <div class="team-box-inner">
                      <h3>Vibishan Govender</h3>
                      <p class="team-meta">
                        Senior javaScript Developer
                      </p>
                      <a href="team.html" class="learn-btn">
                        learn more
                      </a>
                    </div><!--/.team-box-inner-->
                  </div><!--/.single-team-box-->
                </div><!--.col-->
              
              </div><!--/.team-carousel-->
            </div><!--/.row-->
          </div><!--/.container-->
        </div><!--/.team-card-->
      </div><!--/.team-details-->
    </div><!--/.container-->

  </section><!--/.team-->
  <!--team end-->

